@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap);.box {
  background: white;
  padding: 8px;
  border-radius: 8px;
}

html,
body {
  height: 100%;
  background: #f6fbff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html > .container,
body > .container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.c-row {
  display: flex;
  flex-direction: row;
}

.c-row.v-center {
  align-items: center;
}

.c-row.h-center {
  justify-content: center;
}

.c-column {
  display: flex;
  flex-direction: column;
}

.c-column.v-center {
  justify-content: center;
}

.c-column.h-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover {
  color: #1976d2;
}

.btn {
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #1e88e5;
  background: #2196f3;
  border-radius: 5px;
  outline: 0;
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

.btn.icon {
  font-size: 18px;
  border-radius: 50%;
  padding: 5px 6px;
}

.btn:hover {
  border-color: white;
  color: white;
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn[disabled]:hover {
  border-color: #1e88e5 !important;
  color: white !important;
}

.btn.small {
  padding: 3px 8px;
}

.btn.color {
  color: white;
  border: 0;
}

.btn.color.green {
  background: #00695c;
}

.btn.color.green:hover {
  background: #00554a;
}

.btn.color.green:active {
  background: #004038;
}

.btn.color.red {
  background: #c62828;
}

.btn.color.red:hover {
  background: #b52525;
}

.btn.color.red:active {
  background: #a42121;
}

.btn.color.blue {
  background: #1565c0;
}

.btn.color.blue:hover {
  background: #135bae;
}

.btn.color.blue:active {
  background: #11529b;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

